#gif-input{


color: blue;

}

#gif-view{

  align-content: inherit;
}


#add-gif {
background-color: black;
color: white;

}

form{
  text-align: right;
}


label {
color: red;
font-family: 'PT Serif', serif;
font-size: 18px;

}


button{
  font-size: 15px;
  background-color: blue;
}

header{


font-size: 40px;
text-align: center;
color: lightgreen;
padding-bottom: 20px;
border-color: blue;

}